<div class="container">
  <h2 class="text-center text-uppercase text-secondary mb-0"><%= t('.sign_in') %></h2>
  <hr class="star-dark mb-5">
  <div class="row">
    <div class="col-lg-8 mx-auto">


<div align="ceneter">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= bootstrap_devise_error_messages! %>

    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, autofocus: true, autocomplete: 'email', class: 'form-control', required: true %>
    </div>
    <div class="form-group">
      <%= f.label :last_name %>
      <%= f.text_field :last_name, autofocus: true, autocomplete: 'email', class: 'form-control', required: true %>
    </div>

    <div class="form-group">
      <%= f.label :alias %>
      <%= f.text_field :alias, autofocus: true, autocomplete: 'email', class: 'form-control', required: true %>
    </div>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control', required: true %>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: 'current-password', class: 'form-control', required: true %>

    <% if @minimum_password_length %>
      <small class="form-text text-muted"><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></small>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: 'current-password', class: 'form-control', required: true %>
  </div>

  <div class="form-group">
    <%= f.submit 'Click', class: 'btn btn-primary' %>
  </div>
<% end %>

<%= render 'devise/shared/links' %>
    </div>
  </div>
</div></div>